:root {
  --bg-color: #0a0a0a;
  --text-color: #e0e0e0;
  --accent-color: #8f43ee;
  --highlight-color: #00ffaa;

  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
}
