:root {
  --bg-color: #0a0a0a;

  --text-color: #e0e0e0;
  --accent-color: #8f43ee;
  --highlight-color: #00ffaa;
  --nav-bg: rgba(20, 20, 20, 0.95);
  /* --accent-color: #a384f3; */
  /* --highlight-color: #00ffd5; */
  /* --text-color: #e0e0e0; */
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.page-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
}
